<!DOCTYPE html>
<html>

  <%- include('templates/head') %>

  <body>
    <div class="container text-center">

      <% include templates/header %>

      <h1><%= title %></h1>
      <hr />
    </div>
  </body>
</html>
