<!DOCTYPE html>
<html>

  <%- include('templates/head') %>

  <body>
    <div class="container">

      <div class="row text-center">
        <div class="col">
          <% include templates/header %>
          <h1><%= title %></h1>
          <hr />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <% posts.forEach( (post) => { %>
            <h3> <%= post.title %> </h3>
            <p> <%= post.body %> </p>
          <% }) %>
        </div>
      </div>

    </div>
  </body>
</html>
